<div id="carouselExampleControls" class="carousel slide text-center mt-4" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active hero">
      <h5 class="text-light">Sommerurlaub</h5>
      <img src="/assets/IMG/bus.jpeg" class="heroImg" alt="...">
    </div>
    <div class="carousel-item hero">
      <h5 class="text-light">Pauschalreisen</h5>
      <img src="/assets/IMG/fuerte.jpeg" class="heroImg " alt="...">
    </div>
    <div class="carousel-item hero">
      <h5 class="text-light">Abenteuer</h5>
      <img src="/assets/IMG/kard.jpeg" class=" heroImg" alt="...">       
      <div class="carousel-caption ">
        <p>.</p>
      </div>
    </div>    
    <div class="carousel-item hero">
      <h5 class="text-light">Coronavirus</h5>
      <img src="/assets/IMG/land.jpeg" class="heroImg " alt="...">
        <div class="carousel-caption ">        
        <p>Lorem ipsum dolor sit amett.</p>
      </div>
    </div>    
    <div class="carousel-item hero">
      <h5 class="text-light">Urlaubsnews</h5>
      <img src="/assets/IMG/lov.jpeg" class="heroImg " alt="...">
        <div class="carousel-caption ">       
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>    
    <div class="carousel-item hero">
      <h5 class="text-light">urlaub im winter</h5>
      <img src="/assets/IMG/oten.jpeg" class=" heroImg" alt="...">
      <div class="carousel-caption ">
        <p>Lorem ipsum dolor sit amett.</p>
      </div>
    </div>    
    <div class="carousel-item hero">
      <h5 class="text-light">Urlaubsnews</h5>
      <img src="/assets/IMG/evening.jpg" class=" heroImg  " alt="...">
      <div class="carousel-caption ">        
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>