.background{
	margin: 0%;
	padding:  0%;
	background-image: url('/assets/IMG/bg.jpeg');
	background-repeat: no-repeat;
	background-size:  cover;
	background-position: top;
	background-attachment: fixed;

}