.xx{
	margin: 0%;
	padding: 0%;
	margin-top: -3vw;
	padding-bottom: 2vw;
	background-image: url('/assets/IMG/evening.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.jombo{
	margin: 0%;
	padding: 0%;

}