<div class="container-fluid bg-light jumbo ">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Travel offering's</h1>
    <p class="lead">Find your next adventure with Navbar treveling. <br>Wild at heart: classic romantic trips with an adventurous twist
Wild at heart: classic romantic trips with an adventurous twist </p>
  </div>
</div>
</div>




<div class="container-fluid row justify-content-around  xx">
  <div *ngFor="let travel of travelList ; index as travelId">
    
    <div class="card mt-4" style="width: 20rem;">
        <a [routerLink]="['/travelList', travelId]"> 
      <img src="{{travel.Image}}" class="card-img-top" alt="...">
        </a>
      <div class="card-body">
      <a [routerLink]="['/travelList', travelId]">   
        <h5 class="card-title"> {{travel.Destination}} </h5>
        </a>
       
      </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Start Date: {{travel.StartDate}}</li>
          <li class="list-group-item">Price: {{travel.Price}}€ </li>
        </ul>   
    </div>
  </div>
</div>

<div class="container-fluid bg-light jumbo ">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Travel offering's</h1>
    <p class="lead">Find your next adventure with Navbar treveling. <br>Wild at heart: classic romantic trips with an adventurous twist
Wild at heart: classic romantic trips with an adventurous twist </p>
  </div>
</div>
</div>
